catboost_info/
.ruff*
*.iml
.idea
*.egg-info/
notebooks/.ipynb_checkpoints/
*__pycache__*
*.log
*.pkl
*.txt
*.whl
*.egg
.project
.factorypath
.classpath
.settings/
*.csv
.DS_Store
notebooks/archive/.ipynb_checkpoints/
venv

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
poetry.lock

# sphinx
!docs/index.rst
*.rst
.mypy_cache

.ipynb_checkpoints
